<h1>My portfolio</h1>
<div class="search-area">
  <h3>Search Stocks</h3>
  <!--  form_tag is accepting as parameters the route where you want to send the form, and what verb will be used-->
<!--  adding 'remote: true'  is transforming the form requests into an AJAX request-->
  <%= form_tag search_stock_path, remote: true, method: :get  do%>
    <div class="form-group row">
      <div class="col-sm-3">
<!--        this text_field_tag will save the value in the :stock variable which will be sent through the params.
            Then we want to retrieve that value from the params, using the key :stock-->
        <%= text_field_tag :stock, params[:stock], placeholder: "Ticker symbol", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= fa_icon 'search 2x' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="stock_data_div_block">

</div>
<br>
<%= render 'stocks/stock_table' %>
