<!DOCTYPE html>
<html>
  <head>
    <title>RailsStockTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<!--    This stylesheet_link_tag is referencing to the app/assets/stylesheets/application.css file-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<!--    This javascript_pack_tag is referring to the app/assets/javascript/pack/application.js file-->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="container-fluid">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
